@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #333333;
}

a {
  text-decoration: none;
}

.navbar, .introduction, .about, .services, .portofolio {
  padding: 0 5em;
}

.introduction, .about {
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  display: -ms-grid;
  display: grid;
}

.about__title, .services .services__label, .portofolio .portofolio__label {
  font-size: 30pt;
  text-transform: capitalize;
  color: white;
}

.introduction__button, .about__works {
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-transform: capitalize;
  height: 65px;
  width: 200px;
  background-color: #feb633;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  font-size: 1.5em;
  border: 2px solid #feb633;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.introduction__button:hover, .about__works:hover {
  background-color: transparent;
  color: #feb633;
}

.about__cv {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-transform: capitalize;
  height: 65px;
  width: 200px;
  background-color: transparent;
  border-radius: 5px;
  font-weight: 500;
  color: #feb633;
  font-size: 1.5em;
  border: 2px solid #feb633;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.about__cv:hover {
  background-color: #feb633;
  color: white;
}

.navbar {
  position: fixed;
  height: 15vh;
  right: 0;
  left: 0;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
}

.navbar__logo a {
  color: #feb633;
  text-transform: uppercase;
  font-size: 24pt;
  font-weight: 500;
  letter-spacing: -3px;
}

.navbar__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__links, .navbar__links--active, .navbar__links:hover {
  cursor: pointer;
  color: white;
  text-transform: capitalize;
  margin: 0 5px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.navbar__links::after, .navbar__links--active::after, .navbar__links:hover::after {
  content: "";
  display: block;
  background-color: #feb633;
  margin-left: -5px;
  -webkit-animation: borbot-out 0.3s ease-in;
          animation: borbot-out 0.3s ease-in;
}

.navbar__links--active, .navbar__links--active:hover, .navbar__links:hover {
  color: #feb633;
}

.navbar__links--active::after, .navbar__links--active:hover::after, .navbar__links:hover::after {
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  background-color: #feb633;
  margin-left: -5px;
  -webkit-animation: borbot-in 0.3s ease-in-out;
          animation: borbot-in 0.3s ease-in-out;
}

.introduction {
  height: 100vh;
  padding-top: 15vh;
}

.introduction__image {
  background-image: url("/img/fingerprint.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 400px;
}

.introduction__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.introduction__name {
  font-size: 50pt;
  line-height: 1em;
  color: white;
}

.introduction__text {
  margin: 25px 0;
  text-transform: capitalize;
  color: #bfbfbf;
  font-size: 16pt;
}

.about {
  place-items: center;
  height: calc(100vh - 15vh);
  background-color: #404040;
}

.about__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 20em;
  width: 20em;
  background-image: url("/img/chat.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.about__title::after {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background-color: #feb633;
  margin-left: -10px;
}

.about__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__isi p {
  margin: 2em 0;
  color: #bfbfbf;
}

.about__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__cv {
  margin-left: 1em;
}

.about__works, .about__cv {
  text-align: center;
  line-height: 1em;
}

.services {
  display: -ms-grid;
  display: grid;
  place-content: center;
  min-height: calc(100vh - 15vh);
  padding-top: 5em;
  padding-bottom: 5em;
}

.services .services__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .services__label::after {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background-color: #feb633;
  margin: 20px auto;
}

.services .services__subtitle {
  width: 75%;
  text-align: center;
  color: #bfbfbf;
}

.services__main {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  -ms-grid-rows: 300px;
      grid-template-rows: 300px;
  grid-gap: 2em;
  position: relative;
  overflow: hidden;
}

.services__card {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  color: white;
}

.services__card:first-child::after {
  border-radius: 5px;
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(farthest-corner at 40px 40px, #38cffd 0%, #028ab4 100%);
  opacity: 0.9;
}

.services__card:last-child::after {
  border-radius: 5px;
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(farthest-corner at 40px 40px, #ffe3b2 0%, #feb633 100%);
  opacity: 0.9;
}

.services__card-container {
  position: relative;
  margin: 0 3em;
  z-index: 1;
}

.services__card-header .MuiSvgIcon-root {
  font-size: 50pt;
}

.services__card-title {
  text-transform: capitalize;
  font-weight: 600;
}

.services__card-isi {
  position: relative;
  margin: 0 3em;
  z-index: 1;
}

.portofolio {
  display: -ms-grid;
  display: grid;
  place-content: center;
  min-height: calc(100vh - 15vh);
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: #404040;
}

.portofolio .portofolio__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portofolio .portofolio__label::after {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background-color: #feb633;
  margin: 20px auto;
}

.portofolio .portofolio__subtitle {
  width: 75%;
  text-align: center;
  color: #bfbfbf;
}

.portofolio__porto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  grid-gap: 2em;
  margin-top: 20px;
  position: relative;
}

.portofolio__container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.portofolio__hover {
  position: absolute;
  display: none;
  background-color: rgba(254, 182, 51, 0.9);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.portofolio__hover-search, .portofolio__hover-title, .portofolio__hover-company {
  color: white;
}

.portofolio__image {
  margin: 2em;
  width: 250px;
}

.porto-anim {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-animation: porto-hover-in 0.3s ease-out;
          animation: porto-hover-in 0.3s ease-out;
}

.first-porto {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.appear-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: up 0.7s ease-out forwards;
          animation: up 0.7s ease-out forwards;
}

@-webkit-keyframes borbot-in {
  from {
    width: 0px;
  }
  to {
    width: 30px;
  }
}

@keyframes borbot-in {
  from {
    width: 0px;
  }
  to {
    width: 30px;
  }
}

@-webkit-keyframes borbot-out {
  from {
    height: 2px;
    width: 30px;
  }
  to {
    height: 2px;
    width: 0px;
  }
}

@keyframes borbot-out {
  from {
    height: 2px;
    width: 30px;
  }
  to {
    height: 2px;
    width: 0px;
  }
}

@-webkit-keyframes up {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes up {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes porto-hover-in {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes porto-hover-in {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */